################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/FlightDocSystem/.vs/FlightDocSystem/FileContentIndex/05b86a97-71c7-4a23-a448-4540eccbf51a.vsidx
